@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: norse;
    src: url(fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', lato, sans-serif, Arial, Helvetica;
    font-size: 1.2rem;
    color: var(--form-text-color);
    --form-color: rgba(0, 0, 42, 0.885);
    --form-title-color: #4ee2e2;
    --form-text-color: white; 
    --create-account-btn-color:#b3b3b3;
}

body {
    width: 100%;
    min-height: 100hv;
    background: url(images/blue-abstract-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    display:flex;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Image section */
.image-section {
    flex: 2;
}

.title-wrapper {
    margin-top: 10%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 38, 38, 0.326);
}

.title {
    flex: 1;
    font-size:2.5rem;
    text-align: center;
    font-family: norse;
}

#icon {
    flex:1;
    max-width: 80px;
}

/*Form section*/
.form-wrapper {
    flex: 3;
    min-height: 100vh;
    background-color: var(--form-color);
    padding: 10% 5%;
}

.form-description {
    color: var(--form-title-color);
    padding-bottom: 8%;
    font-size: 2rem;
}

.inputs-section{
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    gap: 40px;
}

.input-wrapper{
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    outline: none;
    padding: 2px;
    border: 1px solid rgba(128, 128, 128, 0.52);
    border-radius: 6px;
}

input:focus{
    outline:4px solid rgb(11, 157, 255);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* input:focus:invalid{
    background-color: rgba(231, 80, 80, 0.508);
} */

input:focus:valid{
    background-color: rgb(119, 255, 101);
}

input:focus:invalid {
    background-color: rgb(255, 90, 90);
}

input:valid{
    background-color: rgb(104, 255, 255);
    outline: 1px solid blue;
}

label::after{
    content: '*';
    color: rgb(255, 91, 91);
}


/* Buttons section */
button {
    cursor: pointer;
}

#create-account-btn{
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    background-color:var(--create-account-btn-color);
    margin-bottom: 20px;
    font-size: 1.15rem;
}

#create-account-btn:hover{
    background-color:rgb(73, 75, 75);
    color:var(--form-title-color);
    transition: all 0.3s;
}

.log-in-section{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: white;
}

#log-in-btn{
    padding-left: 0.5ch;
    border: none;
    color: rgb(97, 237, 252);
    font-weight:800;
    background-color: transparent;
}

#log-in-btn:hover{
    text-decoration: underline;
}