@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: lato;
    src: url(fonts/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', lato, sans-serif, Arial, Helvetica;
    font-size: 1.2rem;
}

body {
    width: 100%;
    min-height: 100hv;
    background: url(images/form-backgroung-sunset-sea.jpg) no-repeat center center fixed;
    background-size: cover;
    display:flex;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Image section */
.image-section {
    width: 35%;
}

.title-wrapper {
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 64, 64, 0.326);
}

.title {
    font-size:2rem;
}

#icon {
    width: 40px;
}

/*Form section*/
.form-wrapper {
    width: 65%;
    min-height: 100vh;
    background-color: rgb(239, 236, 236);
    padding: 8% 5%;
}

.form-description {
    padding-bottom: 4vh;
    font-size: 2rem;
}

.inputs-section{
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    gap: 40px;
}

.input-wrapper{
    flex: auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.main-form input {
    padding: 2px;
    border: 1px solid rgba(128, 128, 128, 0.52);
    border-radius: 5px;
    appearance: none;
}
